.images {
     width: 60%;
     display: flex;
     // height: 600px;
     gap: 5px;
     max-height: 100%;
     .miniimages img,
     img {
          border-radius: 10px;
          &.active {
               position: fixed;
               z-index: 100;
               inset: 0;
               height: 100%;
               object-fit: contain;
               background-color: rgba(0, 0, 0, 0.5);
          }
     }
     .miniimages {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 20%;
          // gap: 5px;
          img {
               height: 33%;
               width: 100%;
               object-fit: cover;
          }
     }

     @media (max-width: 1200px) {
          flex-direction: column-reverse;
          // align-items: stretch;
          .miniimages {
               width: 100%;
               height: 20%;
               flex-direction: row;
               gap: 5px;
               img {
                    height: 100%;
                    overflow: hidden;
                    // width: 33%;
               }
          }
     }
     @media (max-width: 1000px) {
          width: 100%;
     }
}
