.showcaseFilter {
	width: 45%;
	h2 {
		text-align: start;
		margin-bottom: 10px;
		color: #003d76;
	}
	form {
		// border: 1px solid red;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		input {
			height: 50px;
			border-radius: 50px;
			width: 48%;
			color: blue;
			border: 2px solid blue;
			padding: 0 25px;
			font-size: 16px;
		}
		button {
			width: 48%;
			height: 50px;
		}
	}
}
