.filterSection {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative !important;
	.filterSectionDiv1 {
		position: relative;
		width: 30%;

	}
	.filterSectionDiv2 {
		width: 70%;
	}
}
