.map {
     // background: var(--blue-common);
     height: 100vh;
     display: flex;
     flex-direction: column;
     color: white;
     border-radius: 20px;
     font-size: 25px;
     // & > div {
     //      display: flex;
     //      justify-content: space-between;
     //      align-items: center;
     //      padding: 20px 30px;
     //      flex-wrap: wrap;
     //      gap: 5px;
     // }

     iframe {
          width: 100%;
          height: 100%;
     }
}
.contact {
     position: relative;
     clip-path: circle(0% at 50% 50%);
     &.active {
          transition: 1.5s;
          opacity: 1;
          clip-path: circle(100% at 50% 50%);
     }
     form {
          border-radius: 10px;
          overflow: hidden;
          position: absolute;
          // inset: 10% 7% 20% 7%;
          top: 10%;
          left: 7%;
          width: 50%;
          height: 80%;
          max-height: 500px;
          max-width: 500px;
          z-index: 1;
     }

     form {
          padding: 25px 30px;
          backdrop-filter: blur(15px);
          background: rgba(90, 90, 90, 0.5);
          font-size: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;
          h1 {
               font-size: 30px;
               line-height: 37px;
               color: #ffffff;
          }
          div {
               display: flex;
               // padding-bot tom: 16px;
          }
          input,
          textarea {
               height: 50px;
               border: none;
               width: 100%;
               padding: 11px 16px;
               border-radius: 10px;
               outline: none;
               color: black;
          }
          textarea {
               height: 40%;
               max-height: 200px;
               resize: vertical;
          }
          button {
               padding: 13px;
          }

          @media (max-width: 400px) {
               gap: 10px;
               div {
                    gap: 10px;
                    flex-wrap: wrap;
               }
               input {
                    height: 40px;
               }
          }
     }
     @media (max-width: 1030px) {
          display: flex;
          justify-content: space-between;
          padding: 20px 7%;
          gap: 20px;
          form {
               position: unset;
               width: 50%;
               padding: calc(5px + 2%);
               height: auto;
          }
          .map {
               height: unset;
               width: 50%;
               border-radius: 10px;
               overflow: hidden;
               min-height: 400px;
               font-size: 15px;
          }
     }
     @media (max-width: 800px) {
          flex-wrap: wrap;
          justify-content: center;
          max-width: 600px;
          margin: 0 auto;
          .map,
          form {
               width: 100%;
               max-width: none;
          }
          form {
               padding: 5%;
          }
     }
}

.line {
     background-color: white;
     height: 1px;
}
