.products {
     padding: 0 7% 90px;
}

.cardsMax {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     gap: 20px;
     padding: 30px 0;
     justify-content: space-between;
     @media (max-width: 1200px) {
          display: none;
     }
}

.cardsMin {
     display: none;
     @media (max-width: 1200px) {
          display: block;
     }
}

.image {
     background-color: rgba(0, 0, 0, 0.6);
     position: fixed;
     // inset: 0;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: contain;
     z-index: 200;
     transition: 0.1s;
}
