.video {
	position: relative;
	height: 400vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.last {
	background-color: white;
	position: relative;
	z-index: 12;
}
.productSection {
	padding: 0 6% 90px;
}
